
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

@import "https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}
html,body{
height:100%;
 min-height:100%; 
}

#root{
  height: 100%;
}


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px; 
    background:#2c240a;

  z-index: 99; 
  transition: all 0.5s ease;
}
.data-table-wrapper button {
  white-space: nowrap;
}
.tabe-btns{
  display: flex;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  background: white;
  padding: 6px 14px; 
}
.sidebar .logo-details .icon {
  opacity: 0; 
  transition: all 0.5s ease;
}
.form-footer button {
    padding: 6px 16px;
    background-color: #2c240a ;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
/* Example CSS to allow full input visibility */
input[type="file"] {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}


.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0; 
  transition: all 0.5s ease;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}


.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px; 
}


.sidebar .nav-list {
  height: calc(100% - 140px);
}


.sidebar .scroll {
  overflow-y: auto; 
  scrollbar-width: thin;
 
}
.nav-list{
 padding: 6px 14px; 
}
.sidebar .scroll::-webkit-scrollbar {
  width: 8px;
  background: #262440; 
  border-radius: 5px;
}
.sidebar .scroll::-webkit-scrollbar-thumb {
  background: #262440; 
  border-radius: 5px;
}
.sidebar .scroll::-webkit-scrollbar-track {
  background: #171526; 
  border-radius: 5px;
}


.sidebar li {
  position: relative;
  margin: 8px 8px 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0; 
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}


.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
 
}
.sidebar li a:active {
   background: #554c2f;

}
.sidebar li a:hover {
  background: #c7ae2f96;
}


.sidebar li a:hover .links_name {
  transition: all 0.5s ease;
}
.sidebar li a:hover i {
  transition: all 0.5s ease;
}


.sidebar li a .links_name,.sidebar li .submenu-toggle .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0; 
  pointer-events: none;
  transition: 0.4s;
}


.sidebar li i {
  height: 50px;
  line-height: 50px; 
  font-size: 18px;
  border-radius: 12px;
}


.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 50px; 
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31; 
}


.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover {
  background: #FFF; 
  color: #11101d; 
}


.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px; 
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar li.profile .name {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}


.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  border-radius: 0px;
  transition: all 0.5s ease;
}


.sidebar.open {
  width: 250px; 
}
.sidebar.open .logo-details .icon {
  opacity: 1; 
}
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar.open li a .links_name ,.sidebar li .submenu-toggle .links_name{
  opacity: 1; 
  pointer-events: auto;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%; 
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open li.profile {
  width: 250px; 
}
.sidebar.open .profile #log_out {
  width: 50px; 
  background: none;
}
.sidebar.open ~ .home-section {
  left: 250px; 
  width: calc(100% - 250px);
}


.home-section {
  position: relative;
  background: #f9fbffe0; 
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px); 
  transition: all 0.5s ease;
  z-index: 2;
  padding: 0 20px;
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
.form-element {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #fff; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-container {
  
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
    background: white;
    border-radius: 4px;

}

.form-container .form-group {
  margin-bottom: 15px;
  padding-right: 10px;
}
.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.form-container .form-group input,
.form-container .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.form-container .form-group input:focus,
.form-container .form-group select:focus {
  border-color: #007bff; 
  outline: none;  
}

.main_page {
    padding: 0 25px;
}

.main_page .page_title {
    text-transform: capitalize;
}

.main_page .page_title,
.main_page .page_body {
    padding: 15px 10px;
}

.main_page .page_title h3 {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 700;
    color: #3b3b3b;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;

}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 3px;
    text-transform: capitalize;
    font-size: 13px;
    
}
.img-uploade{
line-height: 41px !important;
}
.form-group .form-control{
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
}

.form-group .form-control:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none;
}
.form-group  input, .form-group select {
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
label .require {
    color: red;
}

textarea.form-control{
    height: auto;
}

.form-control {
    border-radius: 4px;
    font-weight: 500;
    height: 42px;
    line-height: 30px;
    width: 100%;
    font-size: 12px;
    font-family: 'Inter';
    color: #72727A;
}

button[type="submit"] {
 
    border-radius: 5px;
}



.sidebar .submenu li a {
  color: #eee;
  display: flex;
  align-items: center;
}

.sidebar .submenu li a .links_name {
  margin-left: 10px;
}

.form-footer {
  text-align: start;
  margin-top: 20px;
}

.form-footer button:hover {
  background-color: #0056b3; 
}
.page_sec {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
   
    height: auto;
}

.form-control:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
    outline: none; 
}
.form-control.error {
    border-color: red; 
}
.form-control.error:focus {
    border-color: darkred; 
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); 
}
.form-control.success {
    border-color: green; 
}
.form-control.success:focus {
    border-color: darkgreen; 
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5); 
} 
.error{
  color: red;
  font-size: 12px;
}



.dashboard-card {
  height: 100px;
  color: #475b6e; 
  transition: transform 0.2s ease-in-out;
}
.icon {
  color: #1a202c;
}

.dashboard-card:hover {
  transform: scale(1.02);
}

.icon-circle {
  background-color: #eaf0f6;
  border-radius: 50%;
  width: 50px;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#center {
  height: 100vh;
  width: 100%;
  background-image: url('/bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
 
}
.img-container{
 width: 50%;
    margin: 0px auto;
}
